{% extends 'base.html' %}
{% block title %}How-To-Use{% endblock %}

{% block body %}
<style>
	body{
		overflow: hidden;
	}
</style>

<div class="card m-4" style="width: 28rem;">
  <img src="/static/logo.jpg" class="card-img-top" style="width: 280px" alt="Logo">
  <div class="card-body">
  	<h1 class="fs-2">Welcome to TUNAJANEABC</h1>
  	<h4 class="fs-4">Correct the spellings of your words</h4>
    <p class="card-text fs-5">Because some of the words are very long, remembering the spellings is a very hard task. If you have started your education or if you are a teacher, you can teach your students by using it.</p>
  </div>
</div>

{% endblock %}